/.idea/
/.idea/libraries/
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/.gitignore
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/spring-core.iml
/.idea/vcs.xml
/.idea/workspace.xml
/spring ioc via xml/target/
/spring crud via xml/target/
/Bean Life Cycle/target/
/Bean Life Cycle/target/classes/
/.idea/
